# =========================
# DEFAULT: ASSETS CACHE FUERTE
# =========================
/*
  Cache-Control: public, max-age=31536000, immutable


# =========================
# CRÍTICO: HTML SIEMPRE FRESCO
# =========================
/index.html
  Cache-Control: no-cache, no-store, must-revalidate


# =========================
# SERVICE WORKER SIEMPRE ACTUAL
# =========================
/service-worker.js
  Cache-Control: no-cache, no-store, must-revalidate


# =========================
# MANIFEST (evita problemas de instalación)
# =========================
/manifest.json
  Cache-Control: no-cache, no-store, must-revalidate